@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0px;
  }

  * {
    @apply border-neutral-300;
  }

  body {
    @apply bg-white text-neutral-900;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

img {
  object-position: top;
}

.fixed {
  position: fixed;
}
